/*================================
    LIVE CHAT START
================================*/

.wsus__message__button {
    font-size: 16px;
    text-transform: capitalize;
    padding: 7px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: var(--colorWhite); */
    position: fixed;
    bottom: 0;
    right: 60px;
    border: 1px solid var(--colorWhite);
    border-bottom: 0;
    transition: all linear 0.3s;
    border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -ms-border-radius: 7px 7px 0px 0px;
    -o-border-radius: 7px 7px 0px 0px;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    z-index: 999999;
}

.wsus__message__button span {
    width: 25px;
    margin-right: 10px;
}

.wsus__message_area {
    width: 620px;
    height: 470px;
    position: fixed;
    bottom: 0;
    right: 60px;
    z-index: 99999999;
    background: var(--colorWhite);
    border-radius: 7px 7px 0px 0px;
    overflow: hidden;
    box-shadow: 0px 4px 109px rgba(0, 0, 0, 0.12);
    transform: scaleY(1);
    transform-origin: bottom;
    transition: all linear 0.3s;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.wsus__message_area .heading {
    background: #fe2c55;
    padding: 15px 25px;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--paraFont);
}

.wsus__message_area .heading span {
    display: block;
    width: 35px;
    float: left;
    margin-right: 10px;
}

.wsus__message_area .heading a {
    float: right;
    font-size: 20px;
    color: var(--colorWhite);
    cursor: pointer;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.wsus__message_area .heading a:hover {
    color: var(--colorBlack);
}

.wsus__main_message {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    background: #fff;
}

.wsus__message_list {
    width: 40%;
    border-right: 1px solid #c6e2ff;
    padding: 0 0 15px 0;
    max-height: 415px;
    overflow: hidden;
    overflow-y: auto;
}

.wsus__message_list ul {
    padding-left: 0;
}

.wsus__message_list ul li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid #c6e2ff;
    cursor: pointer;
}

.wsus__message_list ul li:last-child {
    border: none;
}

.wsus__message_list ul li .img {
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.wsus__message_list ul li .img img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.wsus__message_list ul li .img span {
    width: 18px;
    height: 18px;
    line-height: 20px;
    font-size: 12px;
    background: #fe2c55;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: -5px;
    right: -5px;
}

.wsus__message_list ul li .text {
    width: 142px;
    text-align: left;
}

.wsus__message_list ul li .text h3 {
    font-weight: 600;
    font-size: 18px;
    color: var(--colorBlack);
    margin-bottom: 0;
}

.wsus__message_list ul li .text p {
    font-size: 12px;
}

.wsus__message_list ul li:hover,
.wsus__message_list ul li.active {
    background: #ecf5ff !important;
}

.wsus__message_box {
    width: 60%;
}

.wsus__message_box_text {
    min-height: 365px;
    max-height: 365px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    padding: 15px;
    padding-bottom: 0;
}

.wsus__message_list::-webkit-scrollbar,
.wsus__message_box_text::-webkit-scrollbar {
    display: none;
}

.wsus__send_product {
    width: 300px;
    margin-left: auto;
    padding: 10px;
    background: var(--colorBlack);
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 20px;
}

.wsus__send_product .img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--colorWhite);
    margin-right: 15px;
}

.wsus__send_product .text h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--colorWhite);
    margin-bottom: 3px;
}

.wsus__send_product .text p {
    font-size: 12px;
    color: var(--colorWhite);
    opacity: 0.6;
}

.wsus__send_product a {
    font-weight: 600;
    font-size: 14px;
    font-family: var(--paraFont);
    text-transform: capitalize;
    color: var(--colorWhite);
    background: #00bf8c;
    border-radius: 30px;
    padding: 8px 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.wsus__send_product a:hover {
    background: var(--colorWhite);
    color: #00bf8c;
}

.wsus__single_chat {
    margin-bottom: 15px;
}

.wsus__single_chat p {
    max-width: 230px;
    color: var(--colorBlack);
    background: #e2e8f0;
    border-radius: 40px;
    padding: 5px 25px;
    margin-bottom: 5px;
    display: inline-block;
}

.wsus__single_chat span {
    font-size: 13px;
    opacity: 0.6;
    position: relative;
    display: block;
    padding-right: 30px;
}

.wsus__single_chat span::after {
    position: absolute;
    content: "";
    background: url(../images/double_check.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 23px;
    height: 10px;
    top: 4px;
    left: 60px;
}

.chat_right {
    text-align: right;
}

.chat_right p {
    background: #fe2c55;
    color: #ffffff;
}

.chat_right span::after {
    position: absolute;
    content: "";
    background: url(../images/double_check.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 23px;
    height: 10px;
    top: 4px;
    left: auto;
    right: 0;
}

.wsus__message_box form {
    width: 100%;
    position: relative;
    display: flex;
    background: #d7e0e6;
}

.wsus__message_box form input {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 10px;
}

.wsus__message_box form button {
    top: 0;
    right: 0;
    height: 48px;
    width: 48px;
    background: #ffffff;
    color: var(--colorWhite);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.wsus__message_box form button:hover {
    background: #fe2c55;
}

.wsus__message_box form button:hover i {
    color: #ffffff;
}

.wsus__message_area.show_chat {
    transform: scale(1);
}

.wsus__empty_message {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 55px;
}

.wsus__empty_message .img {
    width: 150px;
    margin: 0 auto;
}

.wsus__empty_message h3 {
    font-weight: 700;
    font-size: 20px;
    color: var(--colorBlack);
    margin-top: 10px;
    margin-bottom: 5px;
}

.wsus__empty_message p {
    font-size: 14px;
    font-family: var(--paraFont);
}

.wsus__show_product {
    width: 270px;
    margin-left: auto;
    background: #378fff21;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.wsus__show_product .img {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    overflow: hidden;
    border: 2px solid var(--colorWhite);
    margin-right: 15px;
    background: var(--colorWhite);
}

.wsus__show_product a {
    font-size: 16px;
    font-weight: 600;
    font-family: var(--headingFont);
    color: var(--colorBlack);
    width: 70%;
    transition: all linear 0.3s;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.wsus__show_product a:hover {
    color: var(--colorPrimary);
}

.wsus__message_preloader {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 57px;
}

.wsus__message_preloader span {
    display: block;
    width: 50px;
    height: 50px;
}


/* Responsive */
@media (max-width: 576px) {
    .wsus__message_area {
        width: 100%;
        height: 100%;
        right: 0;
    }

    .wsus__message_list ul li .img {
        display: none;
    }
    .wsus__message_list ul li .text h3 {
        font-size: 16px;
    }

    .wsus__show_product {
        width: auto;
        align-items: center;
    }

    .wsus__single_chat p {
        font-size: 14px;
    }

    .wsus__show_product img {
        height: 100%;
    }
    .wsus__show_product a {
        flex: 1 1 0%;
        font-size: 14px;
    }
}

/*================================
    LIVE CHAT END
================================*/
